@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SRH Hochschule Heidelberg,<br />
    Ludwig-Guttmann-Straße 6,<br />
    Heidelberg, 69123<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:arun.vijayraghavan@fh-heidelberg.de">arun.vijayraghavan@fh-heidelberg.de</a><br />
    <strong>Marketing:</strong> <a href="mailto:arun.vijayraghavan@fh-heidelberg.de">arun.vijayraghavan@fh-heidelberg.de</a>
</address>